<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>ReadExcel</servlet-name>
		<servlet-class>org.forecast.sevlet.getdata.ReadExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadExcelSheet</servlet-name>
		<servlet-class>org.forecast.sevlet.getdata.ReadExcelSheet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>chooseData</servlet-name>
		<servlet-class>
			org.forecast.sevlet.getdata.ChooseData</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>GetTableName</servlet-name>
    <servlet-class>org.forecast.sevlet.getdata.GetTableName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTableMessage</servlet-name>
    <servlet-class>org.forecast.sevlet.getdata.GetTableMessage</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>TableData</servlet-name>
    <servlet-class>org.forecast.sevlet.getdata.TableData</servlet-class>
  </servlet>
  <servlet>

    <servlet-name>calculate</servlet-name>
    <servlet-class>org.forecast.sevlet.getdata.calculate</servlet-class>
  </servlet>
  <servlet>
    <description>upload</description>
    <display-name>upload</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.forecast.sevlet.getdata.UploadServlet</servlet-class>
  </servlet>







	<servlet-mapping>
		<servlet-name>ReadExcel</servlet-name>
		<url-pattern>/readExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadExcelSheet</servlet-name>
		<url-pattern>/readExcelSheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chooseData</servlet-name>
		<url-pattern>/chooseData</url-pattern>
	</servlet-mapping>
	  <servlet-mapping>
    <servlet-name>GetTableName</servlet-name>
    <url-pattern>/getTableName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTableMessage</servlet-name>
    <url-pattern>/getTableMessage</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TableData</servlet-name>
    <url-pattern>/tableData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
