/* The Harvest First Light Web Design 2007 */
body {
	background: #677C2F url(images/background.jpg) repeat;
	color: #6C6C6C;
	font-size: 12px;
	font-family: "palatino linotype", "trebuchet ms", "times new roman";
	margin: 0;
	padding: 0;
	text-align: center;
}  /* Needed to center layout in old IE browsers. */
acronym,abbr {
	cursor: help;
	border-bottom: 1px dotted;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 25px 0;
	padding: 0 0 2px 0;
	color: #8BA11D;
	background-color: #FFF;
	font-weight: normal;
}

.bottom-border {
	border-bottom: 1px solid #E0E0E0;
}

.headline {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 12px;
}

ul {
	list-style-type: square;
}

p {
	padding: 0;
	margin: 0 0 25px 0;
	line-height: 160%;
}

p.clear-left {
	clear: left;
}

img {
	border: 0;
	margin: 0 0 25px 0;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}


a:hover {
	color: #CC6633;
	background-color: #FFF;
}

label {
	color: #CC6633;
	background-color: #FFF;
}
#container {
	width: 760px;
	background-color: #FFF;
	color: #6C6C6C;
	text-align: left;
	padding: 0;
	margin: 10px auto;
}

#header {
	width: 100%;
	background: #3D3D3D;
	color: #EEE;
}

#header h1 {
	margin: 0;
	background: #3D3D3D;
	color: #EEE;
	padding: 0;
}

#logo {
	display: block;
	margin: 0;
}

#sub-header {
	width: 760px;
	height: 218px;
	background: #FFF url(images/wheat_field.jpg) no-repeat;
	color: #6C6C6C;
}

/* Begin main navigation menu. */
#menu {
	width: 100%;
	height: 52px;
	margin: 0;
	padding: 0;
	background: #FFF url(images/menu_background.jpg) repeat-x;
	color: #333;
	position: relative;
	display: block;
}

#menu-right {
	position: absolute;
	width: 13px;
	height: 52px;
	right: 0;
	top: 0;
	background: #FFF url(images/menu_right.jpg) no-repeat;
	color: #333;
}

#menu-left {
	position: absolute;
	width: 13px;
	height: 52px;
	left: 0;
	top: 0;
	background: #FFF url(images/menu_left.jpg) no-repeat;
	color: #333;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 12px 0 0;
	text-align: center;
}

#menu ul li {
	display: inline;
	margin: 10px 0 0 10px;
	padding: 0;
	font-weight: bold;
}

#menu ul li#first {
	margin: 0;
}

#menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #525252;
	background-color: #FFF;
	font-size: 14px;
}

#menu ul li a:hover {
	color: #000;
	background-color: #FFF;
}

.access-key {
	color: #2F4F4F;
	font-size: 14px;
	background-color: #FFF;
	font-weight: normal;
}

.menu-key{
	color: #0A0A0A;
	font-size: 17px;
	background-color: #FFF;
	font-weight: 600;
}

/* End main navigation menu. */
#content {
	padding: 0 20px;
	background: #FFF url(images/content_top.jpg) no-repeat;
	color: #6C6C6C;
}

/* The right-column division is your main content division. */
#right-column {
	width: 468px;
	float: right;
	min-height: 350px;
}

#left-column {
	width: 216px;
	padding: 0;
	margin-right: 504px;
}

#footer {
	width: 760px;
	height: 78px;
	clear: both;
	margin: 0;
	padding: 0;
	background: #FFF url(images/footer_background.jpg) no-repeat;
	color: #6C6C6C;
}

#footer-content {
	padding: 51px 20px 0;
}

#footer-right {
	float: right;
	margin: 0;
}

#footer p {
	margin: 0;
}

.news {
	margin: 0 0 40px 0;
}

.date {
	color: #8BA11D;
	background-color: #FFF;
	font-style: italic;
	float: right;
}

.left {
	float: left;
	margin: 3px 5px 0 0;
}

.right {
	float: right;
}

.justify {
	text-align: justify;
	font-size:12px;
}

.clear {
	clear: both;
}

/* Begin recent clients list. */
#recent-clients {
	margin-bottom: 25px;
	padding: 0;
}

#recent-clients ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#recent-clients li {
	display: inline;
	padding: 0 1px 0 0;
}

#recent-clients li a img {
	padding: 0;
	margin: 0;
	border: 2px solid #E0E0E0;
}

#recent-clients li a:hover img {
	border: 2px solid #677C2F;
}

/* End recent clients list. */
	/* Begin style for the featured services. */
#featured-wrapper {
	width: 468px;
	background: #FFF url(images/featured_background.png) repeat-y;
	color: #6C6C6C;
}

#featured-top {
	width: 468px;
	height: 48px;
	background: #FFF url(images/featured_top.png) no-repeat;
	color: #6C6C6C;
}

#featured-bottom {
	width: 468px;
	height: 15px;
	background: #FFF url(images/featured_bottom.png) no-repeat;
	color: #6C6C6C;
}

#featured-content {
	margin: -20px 15px 0;
	padding: 0 10px 10px 10px;
}

.featured {
	width: 100%;
	clear: both;
	padding-bottom: 25px;
}

.featured h3 {
	margin: 0;
	padding: 8px 0 0 0;
	background: transparent;
	font-size: 16px;
}

.number {
	font-size: 72px;
	line-height: 72px;
	float: left;
	margin: 0 10px 0 0;
	color: #8BA11D;
	padding: 0;
}

Table.stock {
	border-top: 1px solid #91b0cc;
	border-bottom: 1px solid #91b0cc;
	border-left: 1px solid #91b0cc;
	border-right: 1px solid #91b0cc;
}

Table.stock caption {
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	height: 24px;
	line-height: 24px;
	border-top: 1px solid #91b0cc;
	border-bottom: 0px dashed #91b0cc;
	border-left: 1px solid #91b0cc;
	border-right: 1px solid #91b0cc;
	padding-left: 5px;
	color: #484848;
	background-image: url(img/titBg.gif);
}

Table.stock th {
	font-size: 13px;
	font-weight: normal;
	background-color: #f2f9ff;
	border-bottom: 1px solid #91b0cc;
	color: #62676b;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

Table.stock td {
	border-bottom: 1px solid #e6e6e6;
	color: #62676b;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

Table.stock td a {
	color: #002b8d;
	text-decoration: underline;
}

Table.stock td a:hover {
	color: #cc0000;
	text-decoration: underline;
}

.odd {
	background-color: #ffffff;
}

.even {
	background-color: #f5f5f5;
}

input,button {
	font-family: "Arial", "Tahoma", "Î¢ÈíÑÅºÚ", "ÑÅºÚ";
	border: 0px;
	vertical-align: middle;
	margin: 8px;
	line-height: 18px;
	font-size: 18px;
}

.pbtn1 {
	border: solid 2px #dcdcdc;
	padding: 4px 14px 4px 34px;
	color: #959595;
}

.next {
	width: 140px;
	height: 36px;
	line-height: 18px;
	font-size: 18px;
	background: url("images/go_next.jpg") no-repeat left top;
	color: #FFF;
	padding-bottom: 4px;
}

.back {
	width: 140px;
	height: 36px;
	line-height: 18px;
	font-size: 18px;
	background: url("images/go_back.jpg") no-repeat left top;
	color: #FFF;
	padding-bottom: 4px;
}

.reset {
	width: 140px;
	height: 36px;
	line-height: 18px;
	font-size: 18px;
	background: url("images/reset.jpg") no-repeat left top;
	color: #FFF;
	padding-bottom: 4px;
}

.save {
	width: 221px;
	height: 42px;
	color: #666;
	background: url("images/save.jpg") no-repeat left top;
	padding-left: 18px;
}

.savepic {
	width: 221px;
	height: 42px;
	color: #666;
	background: url("images/savepic.jpg") no-repeat left top;
	padding-left: 18px;
}

.ok {
	width: 100px;
	height: 40px;
	background: url("images/ok.gif") no-repeat 8px center;
	background-color: #f9f9f9;
}

.delete {
	width: 130px;
	height: 40px;
	background: url("images/delete.gif") no-repeat 8px center;
	background-color: #f9f9f9;
}

.circle {
	width: 100px;
	height: 40px;
	background: url("images/reset.gif") no-repeat 8px center;
	background-color: #f9f9f9;
}

.free {
	width: 142px;
	height: 40px;
	line-height: 18px;
	font-size: 18px;
	color: #fff;
	background: url("images/free.jpg") no-repeat left top;
	padding-bottom: 4px;
}

input.smallInput {
	font-family: "Arial", "Tahoma", "Î¢ÈíÑÅºÚ", "ÑÅºÚ";
}
/* End style for featured services. */